<div class="row">
  <div class="offset-4 col-md-4">
      <h3 class='text-center'>
        Bienvenue à l'association <%= @user.name %>
      </h3>
      

       <h3 class='text-center'>
        Votre email est : <%= @user.email %>
      </h3>
  </div>
</div>