<div class="text-center home">
  <h2>Bienvenue sur la plateforme de test, pour commencer, merci de bien vouloir vous connecter ou inscrire votre association !</h2>
  <%= image_tag("hacktiv.png", :alt => "hacktiv") %>
  <br/>
</div>
