<div class="text-center home">
  <h2>Bienvenue sur ma plateforme de test, pour commencer, merci de bien vouloir vous connecter ou vous inscrire !</h2>
  <%= image_tag("hacktiv.png", :alt => "hacktiv") %>
  <br/>
</div>
